<div ng-controller="LoginController as vm" class="logon-container text-center">
    <div class="logon">
        <img src="../../content/img/YrdSlz_Home.jpg" alt="YrdSlz" />
        <form id="logon-form" name="vm.form" ng-submit="vm.submit()">
            <div class="form-group text-center">
                <input id="username" class="form-control" type="text" ng-model="username"
                       placeholder="{{'Username'}}" autofocus="autofocus" />
            </div>
            <div class="form-group">
                <input id="password" class="form-control" type="password" ng-model="password"
                       placeholder="{{'Password'}}" autofocus="autofocus" />
            </div>
            <div class="text-right">
                <button id="logon" class="btn btn-logon btn-md" type="submit">Logon</button>
            </div>
            <div id="error" style="color:red">{{loginError}}</div>
        </form>
    </div>
</div>
